@use "tight-paragraph";
@use "mixins";
@use "card";

.page-content-container {
  @include mixins.mix-left-and-right-side-menu();
}

.page-content {
  grid-area: sub-main-content-panel;
}

app-right-sub-menu {
  grid-area: right-menu-panel;
}

ul {
  list-style-type: none;
  margin-left: 0.5rem;
  padding: 0;
  line-height: 1.5em;

  li {
    letter-spacing: 1px;

    &::first-letter {
      font-weight: bolder;
    }
  }
}

.card {
  max-width: 700px;

  &-header {
    font-size: 0.6em;
  }

  &-body {
    font-size: 0.8em;
    line-height: 1.2em;
  }
}
