.tl-marker {
  position: absolute;
  top: 4.5em;

  .tl-marker-event {
    width: 1px;
    background-color: var(--color-time-line-grid);

    .tl-marker-label {
      position: absolute;
      font-size: 0.5em;
      white-space: nowrap;
      text-align: center;
      rotate: -90deg;
    }
  }
}

.detail-info {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  color: var(--color-time-line-info-font);
  font-size: 9pt;
  line-height: 1.2em;
  padding: 3px;
  height: fit-content;
  width: fit-content;
  min-width: 4em;
  border: 1px solid var(--color-time-line-info-border);
  background-color: var(--color-time-line-info-background);
  border-radius: 5px;

  .name {
    padding: 3px;
    text-align: center;
    white-space: nowrap;
    min-width: 11em;
  }

  .note {
    padding: 5px;
    font-size: 8pt;
    max-width: 20em;
  }
}
