<div class="tl-marker"
     [style.left.px]="marker().eventYear">
  <div class="tl-marker-event"
       [style.height.px]="marker().height">
    <div class="tl-marker-label"
         [style.left.em]="marker().label.left"
         [style.top.em]="marker().label.top"
         [style.color]="marker().label.labelColor">
      {{ marker().name }}
    </div>
    @if (isHovered) {
      <div class="detail-info">
        <div class="name">{{ marker().name }}</div>
        <div class="year">Year: {{ marker().eventYear }}<span class="era">AM</span></div>
        @if (marker().label.note) {
          <div class="note">{{ marker().label.note }}</div>
        }
      </div>
    }
  </div>
</div>
