.page-nav {
  display: flex;
  color: var(--color-menu-text);
  background-color: var(--color-menu-background);
  max-height: var(--nav-bar-height);

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li:first-child {
      margin-left: 0.5em;
    }

    a {
      color: inherit;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;

      &:hover {
        background-color: var(--color-menu-hover-background);
        color: var(--color-menu-hover-text);
        border-radius: 6px;
      }
    }
  }
}
