@use 'mixins';

.book-container {
  display: inline-block;
  background-color: var(--color-book-background);
  color: inherit;
  font-size: 11pt;
  margin: 0.2em 0;
  border-radius: 6px;
  max-width: var(--verse-width);
  width: fit-content;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  position: relative;
  padding: 4px 5px;
  @include mixins.mix-box-shadow;

  &.is-open {
    .book-reference {
      display: none;
    }

    .book-block {
      display: inline-block;

      .book-reference {
        display: block;
      }
    }
  }

  .book-block {
    display: none;
    width: 600px;
    background-color: var(--color-book-text-background);

    .book {
      &-reference {
        background-color: var(--color-book-reference-background);
        color: var(--color-book-reference-text);
        padding: 0 0 4px 0;
      }

      &-content {
        display: block;
        font-size: 10pt;
        background-color: var(--color-book-text-background);
        color: var(--color-book-text);
        padding: 0.5em 0;
      }

      &-source {
        display: block;
        font-size: 7pt;
        background-color: var(--color-book-source-background);
        color: var(--color-book-source-text);
        padding: 0.5em 0;

        &:hover {
          font-size: 10pt;
        }
      }
    }
  }
}
