:root {
  --adam-birth: 0;
  --adam-age: 930;
  --adam-death: 930;

  --seth-birth: 130;
  --seth-age: 912;
  --seth-death: 1042;

  --enosh-birth: 235;
  --enosh-age: 905;
  --enosh-death: 1140;

  --keran-birth: 325;
  --keran-age: 910;
  --keran-death: 1235;

  --mahalalel-birth: 395;
  --mahalalel-age: 895;
  --mahalalel-death: 1290;

  --jared-birth: 460;
  --jared-age: 962;
  --jared-death: 1422;

  --enoch-birth: 622;
  --enoch-age: 365;
  --enoch-death: 987;

  --methuselah-birth: 687;
  --methuselah-age: 969;
  --methuselah-death: 1658;

  --year-of-flood: 1658;

  --lamech-birth: 874;
  --lamech-age: 777;
  --lamech-death: 1651;

  --noah-birth: 1056;
  --noah-age: 950;
  --noah-death: 2006;

  --shem-birth: 1558;
  --shem-age: 600;
  --shem-death: 2158;

  --arphaxad-birth: 1658;
  --arphaxad-age: 438;
  --arphaxad-death: 2096;

  --shelah-birth: 1693;
  --shelah-age: 433;
  --shelah-death: 2126;

  --eber-birth: 1723;
  --eber-age: 464;
  --eber-death: 2187;

  --peleg-birth: 1757;
  --peleg-age: 239;
  --peleg-death: 1996;

  --reu-birth: 1787;
  --reu-age: 239;
  --reu-death: 2026;

  --serug-birth: 1819;
  --serug-age: 230;
  --serug-death: 2049;

  --nahor-birth: 1849;
  --nahor-age: 148;
  --nahor-death: 1997;

  --terah-birth: 1878;
  --terah-age: 205;
  --terah-death: 2083;

  --abraham-birth: 1948;
  --abraham-age: 175;
  --abraham-death: 2123;

  --issac-birth: 2048;
  --issac-age: 180;
  --issac-death: 2228;

  --jacob-birth: 2108;
  --jacob-age: 147;
  --jacob-death: 2255;
}
