.age {
  font-size: 0.6em;
}

.page-content-container {
  display: grid;
  grid-template-areas:
    "left-menu-panel page-content";
  grid-template-columns: var(--left-side-panel-menu-width) auto;
  background-color: var(--color-page-background);

  app-time-lines-sub-menu {
    grid-area: left-menu-panel;
  }

  .page-content {
    grid-area: page-content;
  }
}

.page-content {
  width: 100%;
  position: relative;
  overflow-y: auto;
  scale: 100%;

  .tl-grid {
    position: fixed;
    z-index: 200;
    top: 70px;

    .tl-flood {
      position: relative;
      left: 1656px;
      width: 1px;
      height: 850px;
      background-color: var(--color-time-line-grid);

      .tl-label {
        position: relative;
        top: -1.4em;
        left: -1.5em;
        border-bottom: 1px solid var(--color-time-line-grid);
      }
    }
  }
}
