.age {
  font-size: 0.6em;
}

.page-content-container {
  display: grid;
  grid-template-areas:
    "left-menu-panel page-content";
  grid-template-columns: var(--left-side-panel-menu-width) auto;
  background-color: var(--color-content-background-color);

  app-time-lines-sub-menu {
    grid-area: left-menu-panel;
  }

  .page-content {
    grid-area: page-content;
    width: 100%;
    position: relative;
    overflow-y: auto;
    scale: 100%;
  }
}

.time-lines-container {
  margin-top: 3em;
}
