@use "card";
@use "mixins";

.card.definition-card {
  width: fit-content;
  font-size: 12pt;

  .card-header {
    padding: 5px;
    text-align: center;
    color: var(--color-def-header-text);
    font-size: 14pt;
    font-weight: bold;
  }

  .source {
    font-size: 11pt;
    padding-left: 5em;

    .label {
      font-weight: bold;
    }
  }

  .term {
    color: var(--color-def-text);
    font-weight: bold;

    .term-type {
      color: var(--color-def-term);
      font-weight: bolder;
    }
  }

  .definition-list {
    padding-left: 2em;
    list-style-type: lower-alpha;
    line-height: 1.5em;
    font-size: 10pt;
  }
}

.definition-type {
  font-weight: bold;
  background-color: var(--color-def-type);
  padding: 2px 5px;
  border-radius: 6px;
}

.definition-sub {
  color: var(--color-def-sub);
  border-left: 2px solid var(--color-def-sub);
  padding-left: 0.5em;
}

.definition-container {
  width: fit-content;

  .definition-word {
    background-color: var(--color-def-header-background);
    color: var(--color-def-header-text);
    padding: 0 0.4rem;
    font-size: 12pt;
    width: fit-content;
    border-radius: 10px;

    .label {
      color: var(--color-def-label);
    }
  }

  &.is-open {
    .definition-card {
      display: block;
      transition-behavior: allow-discrete;
    }
  }
}

.definition-card {
  --offset: -1.53rem;
  display: none;
  position: relative;
  top: var(--offset);
  margin-bottom: var(--offset);
  @include mixins.mix-box-shadow;
}
