<div class="definition-container" appOpenTrigger>
  <div class="definition-word">
    <span class="label">Definition:</span>
    {{ this.data().term }}
  </div>
  <div class="card definition-card">
    <div class="card-header">
      Definition
    </div>
    <div class="card-body">
      <div class="term">
        {{ this.data().term }}
        <span class="term-type">{{ this.data().type }}</span>
      </div>
      <ol class="definition-list">
        @for (definition of this.data().definitions; track definition.def) {
          <li class="definition-item">
            @if (definition.type) {
              <span class="definition-type">{{ definition.type }}</span> :
            }
            {{ definition.def }}
            @if (definition.sub) {
              @for (sub of definition.sub; track sub) {
                <br/><span class="definition-sub">{{ sub }}</span>
              }
            }
          </li>
        }
      </ol>
      <div class="source">
        <span class="label">Source:</span> {{ this.data().source }}
      </div>
    </div>
  </div>
</div>
