.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--header-padding);
  color: var(--color-header-text);
  background-color: var(--color-header-background);
  font-size: 1.8em;
  max-height: var(--header-height);

  .title {
    text-shadow: 2px 1px 0 #717171;
  }

  .sub-title {
    font-size: 0.6em;
    text-shadow: 2px 1px 0 #717171;
  }
}
