@forward 'color';
@forward 'menu-base';
@forward 'menubar';
@forward 'overlaypanel';
@forward 'side-menu-panel';

:root {
  --content-height: 80vh;
  --left-side-panel-menu-width: 11em;
  --right-side-panel-menu-width: 17em;
}
