@forward 'color';
@forward "anchor";
@forward 'accordion';
@forward 'highlight';
@forward 'menu-base';
@forward 'menubar';
@forward 'overlaypanel';
@forward 'select';
@forward 'side-menu-panel';
@forward 'layout';
@forward 'versepanel';

:root {
  --header-padding: 1px;
  --base-line-height-adjustment: 28px;
  --header-height: 70px;
  --nav-bar-height: 40px;
  --footer-height: 20px;
  --view-port-height: 100vh;
  --content-height: calc(var(--view-port-height) - var(--header-height) - var(--base-line-height-adjustment) - var(--nav-bar-height) - var(--footer-height));
  --left-side-panel-menu-width: 12em;
  --right-side-panel-menu-width: 17em;
  --p-select-padding-y: 0.1em !important;
}

h1 {
  color: var(--color-h1);
}

.era {
  font-size: 0.75em;
  font-variant: all-small-caps;
  letter-spacing: 0.05em;
}
