:root {
  --base-hue: 188;
  --highlight-hue: 49;

  --color-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

  --color-link-unvisited: hsl(var(--base-hue), 60%, 40%);
  --color-link-visited: hsl(var(--base-hue), 73%, 60%);
  --color-link-hover: hsl(var(--base-hue), 73%, 60%);
  --color-link-hover-background: hsl(var(--base-hue), 19%, 11%);
  --color-link-selected: hsl(var(--base-hue), 95%, 80%);

  --color-h1: hsl(var(--base-hue), 85%, 71%);

  --color-header-text: hsl(var(--base-hue), 0%, 10%);
  --color-header-background: hsl(var(--base-hue), 73%, 63%);

  --color-menu-text: hsl(var(--base-hue), 0%, 100%);
  --color-menu-hover-text: hsl(var(--base-hue), 14%, 65%);
  --color-menu-background: hsl(var(--base-hue), 19%, 11%);
  --color-menu-hover-background: hsl(var(--base-hue), 18%, 34%);

  --color-side-menu-text: hsl(var(--base-hue), 0%, 0%); //updated
  --color-side-menu-hover-text: hsl(var(--base-hue), 1%, 5%); //updated
  --color-side-menu-background: hsl(var(--base-hue), 100%, 80%); // updated
  --color-side-menu-hover-background: hsl(var(--base-hue), 90%, 45%); // updated

  --color-content-text: hsl(var(--base-hue), 0%, 1%);
  --color-content-background-color: hsl(var(--base-hue), 18%, 100%);

  --color-footer-text: hsl(var(--base-hue), 5%, 1%); // updated
  --color-footer-background: hsl(var(--base-hue), 50%, 60%); //updated

  --color-overlay-panel-background: hsl(var(--base-hue), 96%, 78%);
  --color-overlay-panel-text: hsl(var(--base-hue), 7%, 23%);

  --color-verse-header-text: hsl(var(--base-hue), 100%, 1%); // updated
  --color-verse-header-background: hsl(var(--base-hue), 30%, 80%); // updated
  --color-verse-background: hsl(var(--base-hue), 0%, 48%);
  --color-verse-reference: hsl(var(--base-hue), 10%, 81%);
  --color-verse-text: hsl(var(--base-hue), 0%, 0%);
  --color-verse-text-background: hsl(var(--base-hue), 20%, 100%);
  --color-verse-source: hsl(var(--base-hue), 0%, 1%);
  --color-verse-footer-background: hsl(var(--base-hue), 30%, 80%); // updated

  --color-def-header-text: hsl(var(--highlight-hue), 0%, 0%);
  --color-def-label: hsl(var(--highlight-hue), 0%, 0%); // updated
  --color-def-header-background: hsl(var(--highlight-hue), 80%, 80%); //updated
  --color-def-background: hsl(var(--highlight-hue), 0%, 48%);
  --color-def-term: hsl(var(--base-hue), 24%, 47%);
  --color-def-text: hsl(var(--highlight-hue), 0%, 0%);
  --color-def-sub: hsl(var(--highlight-hue), 0%, 40%);
  --color-def-type: hsl(var(--highlight-hue), 1%, 76%);
  --color-def-text-background: hsl(var(--highlight-hue), 20%, 100%);
  --color-def-source: hsl(var(--highlight-hue), 0%, 86%);

  --color-highlight-background: hsl(var(--highlight-hue), 98%, 81%);
  --color-highlight-text: hsl(var(--highlight-hue), 0%, 9%);

  --color-time-line-bar: hsl(var(--base-hue), 52%, 42%);
  --color-time-line-grid: hsl(var(--base-hue), 40%, 80%);

  --color-time-line-info-border: hsl(var(--base-hue), 10%, 81%);
  --color-time-line-info-font: hsl(var(--base-hue), 10%, 90%);
  --color-time-line-info-background: hsl(var(--base-hue), 0%, 18%);

  --card-header-background: hsl(var(--highlight-hue), 57%, 70%);
  --card-header-text: hsl(var(--highlight-hue), 80%, 4%);
  --card-body-background: hsl(var(--highlight-hue), 50%, 80%);
  --card-body-text: hsl(var(--highlight-hue), 8%, 4%);

  --key-point-background: hsl(var(--base-hue), 2%, 90%);
  --key-point-text: hsl(var(--base-hue), 0%, 0%);

  --color-select-background: hsl(var(--base-hue), 0%, 18%);
  --color-select-text: hsl(var(--base-hue), 20%, 90%);

  &[class*="app-dark-theme"] {
    --color-box-shadow: 2px 2px 8px rgba(250, 250, 250, 0.5);

    --color-link-unvisited: hsl(var(--base-hue), 60%, 40%);
    --color-link-visited: hsl(var(--base-hue), 73%, 60%);
    --color-link-hover: hsl(var(--base-hue), 73%, 60%);
    --color-link-hover-background: hsl(var(--base-hue), 19%, 11%);
    --color-link-selected: hsl(var(--base-hue), 95%, 80%);

    --color-h1: hsl(var(--base-hue), 85%, 71%);

    --color-header-text: hsl(var(--base-hue), 90%, 100%); // updated
    --color-header-background: hsl(var(--base-hue), 73%, 20%); // updated

    --color-menu-text: hsl(var(--base-hue), 0%, 100%);
    --color-menu-hover-text: hsl(var(--base-hue), 14%, 65%);
    --color-menu-background: hsl(var(--base-hue), 19%, 11%);
    --color-menu-hover-background: hsl(var(--base-hue), 18%, 34%);

    --color-side-menu-text: hsl(var(--base-hue), 0%, 100%);
    --color-side-menu-hover-text: hsl(var(--base-hue), 14%, 100%);
    --color-side-menu-background: hsl(var(--base-hue), 19%, 11%);
    --color-side-menu-hover-background: hsl(var(--base-hue), 49%, 20%); // updated

    --color-content-text: hsl(var(--base-hue), 0%, 87%);
    --color-content-background-color: hsl(var(--base-hue), 18%, 24%);

    --color-footer-text: hsl(var(--base-hue), 0%, 100%);
    --color-footer-background: hsl(var(--base-hue), 17%, 5%);

    --color-overlay-panel-background: hsl(var(--base-hue), 96%, 78%);
    --color-overlay-panel-text: hsl(var(--base-hue), 7%, 23%);

    --color-verse-header-text: hsl(var(--base-hue), 0%, 100%);
    --color-verse-header-background: hsl(var(--base-hue), 0%, 10%);
    --color-verse-background: hsl(var(--base-hue), 0%, 48%);
    --color-verse-reference: hsl(var(--base-hue), 10%, 81%);
    --color-verse-text: hsl(var(--base-hue), 0%, 0%);
    --color-verse-text-background: hsl(var(--base-hue), 20%, 100%);
    --color-verse-source: hsl(var(--base-hue), 0%, 86%);
    --color-verse-footer-background: hsl(var(--base-hue), 0%, 10%); // updated

    --color-def-header-text: hsl(var(--base-hue), 100%, 0%);
    --color-def-label: hsl(var(--highlight-hue), 40%, 20%);
    --color-def-header-background: hsl(var(--highlight-hue), 80%, 90%);
    --color-def-background: hsl(var(--base-hue), 0%, 48%);
    --color-def-term: hsl(var(--base-hue), 24%, 47%);
    --color-def-text: hsl(var(--base-hue), 0%, 0%);
    --color-def-sub: hsl(var(--base-hue), 0%, 40%);
    --color-def-type: hsl(var(--base-hue), 1%, 76%);
    --color-def-text-background: hsl(var(--base-hue), 20%, 100%);
    --color-def-source: hsl(var(--base-hue), 0%, 86%);

    --color-highlight-background: hsl(var(--highlight-hue), 98%, 81%);
    --color-highlight-text: hsl(var(--highlight-hue), 0%, 9%);

    --color-time-line-bar: hsl(var(--base-hue), 52%, 42%);
    --color-time-line-grid: hsl(var(--base-hue), 40%, 80%);

    --color-time-line-info-border: hsl(var(--base-hue), 10%, 81%);
    --color-time-line-info-font: hsl(var(--base-hue), 10%, 90%);
    --color-time-line-info-background: hsl(var(--base-hue), 0%, 18%);

    --card-header-background: hsl(var(--highlight-hue), 57%, 70%);
    --card-header-text: hsl(var(--highlight-hue), 80%, 4%);
    --card-body-background: hsl(var(--highlight-hue), 50%, 80%);
    --card-body-text: hsl(var(--highlight-hue), 8%, 4%);

    --key-point-background: hsl(var(--base-hue), 30%, 15%);
    --key-point-text: hsl(var(--base-hue), 80%, 100%);

    --color-select-background: hsl(var(--base-hue), 0%, 18%);
    --color-select-text: hsl(var(--base-hue), 20%, 90%);
  }
}
