:root {
  --color-h1: hsl(215, 85%, 71%);

  --color-header-text: hsl(0, 0%, 100%);
  --color-header-background: hsl(215, 73%, 63%);

  --color-menu-text: hsl(0, 0%, 100%);
  --color-menu-background: hsl(180, 19%, 11%);
  --color-menu-hover-background: hsl(188, 18%, 34%);
  --color-menu-hover-text: hsl(346, 14%, 65%);

  --color-side-menu-text: hsl(0, 0%, 100%);
  --color-side-menu-background: hsl(180, 19%, 11%);

  --color-content-text: hsl(0, 0%, 87%);
  --color-content-background-color: hsl(188, 18%, 24%);

  --color-footer-text: hsl(0, 0%, 100%);
  --color-footer-background: hsl(180, 17%, 5%);

  --color-overlay-panel-background: hsl(188, 96%, 78%);
  --color-overlay-panel-text: hsl(188, 7%, 23%);

  --color-verse-text: hsl(305, 54%, 43%)
}
