@use 'mixins';

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;

  .page-container {
    display: grid;
    grid-template-areas:
        "header-panel"
        "menu-panel"
        "page-content"
        "footer-panel";

    app-header {
      grid-area: header-panel;
    }

    app-menu {
      grid-area: menu-panel;
    }

    .router-container {
      grid-area: page-content;
      color: var(--color-content-text);
      background-color: var(--color-content-background-color);
      min-height: var(--content-height);
    }

    .page-content-container {
      grid-area: page-content;

      .page-content {
        @include mixins.mix-page-content;

        .dictionary-definition {
          margin: 0.2em 0;

          .definition {
            font-style: italic;
          }
        }
      }
    }

    app-footer {
      grid-area: footer-panel;
    }
  }
}
