.left-side-menu-panel {
  width: var(--left-side-panel-menu-width);
  text-align: right;
}

.right-side-menu-panel {
  position: absolute;
  width: var(--right-side-panel-menu-width);
  text-align: left;
}

.left-side-menu-panel,
.right-side-menu-panel {
  height: var(--content-height);
  background-color: var(--color-side-menu-background);
  padding: 1em 0;
  line-height: 1.5em;

  ul {
    margin: 0;
    padding: 0;

    a {
      color: var(--color-side-menu-text);
      padding: 6px 10px;
      text-decoration: none;
      border-radius: 5px;

      &:hover {
        background-color: var(--color-side-menu-hover-background);
        color: var(--color-menu-hover-text);
      }
    }

    > li {
      list-style-type: none;
      padding: 6px;
      font-size: 12pt;

      &.primary-menu-item {
        font-size: 18pt;
      }

      &.secondary-menu-item {
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        --color-menu-heading: #374d4f;
        background-color: var(--color-menu-heading);
        border-radius: 10px;
        padding: 2px 0.5em;
      }

      ul li {
        &:not(:first-child) {
          display: none;
        }

        &:not(:first-of-type) {
          list-style-type: none;
          text-indent: 0.5em;
          font-size: 12pt;
        }
      }

      ul:has(> li:first-child.is-open) li {
        display: block;
      }
    }
  }
}
