.left-side-menu-panel {
  width: var(--left-side-panel-menu-width);
  text-align: right;
}

.right-side-menu-panel {
  position: absolute;
  width: var(--right-side-panel-menu-width);
  text-align: left;
}

.left-side-menu-panel,
.right-side-menu-panel {
  height: var(--content-height);
  background-color: var(--color-side-menu-background);
  padding: 1em 0;
  line-height: 1.5em;

  ul {
    margin: 0;
    padding: 0;

    a {
      color: var(--color-side-menu-text);
      padding: 6px 10px;
      text-decoration: none;

      &:hover {
        background-color: var(--color-menu-hover-background);
        color: var(--color-menu-hover-text);
        border-radius: 5px;
      }
    }

    > li {
      list-style-type: none;
      padding: 6px;
      font-size: 0.9em;

      &.primary-menu-item {
        font-size: 1.2em;
      }
    }
  }
}
