@use 'base';
@use 'mixins';

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;

  .page-container {
    .page-header {
      padding: 0.8em;
      text-align: center;
      color: var(--color-header-text);
      background-color: var(--color-header-background);
      font-size: 1.9em;
    }

    .page-content {
      @include mixins.mix-page-content;

      .dictionary-definition {
        margin: 0.2em 0;

        .definition {
          font-style: italic;
        }
      }
    }
  }
}

h1 {
  color: var(--color-h1);
}

.highlight {
  background-color: var(--color-highlight-background);
  color: var(--color-highlight-text);
  font-weight: bold;
  padding: 0 0.2em;
  border-radius: 6px;
}
